.offer-item {
  background-color: var(--card-bg);
  color: var(--card-text);
  border-radius: 8px;
  padding: 12px;
  width: 220px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.3s, color 0.3s, width 0.3s, height 0.3s;
  cursor: pointer;
}

.offer-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
  .offer-item {
    width: 260px; 
    height: 340px; 
  }
}

@media (max-width: 480px) {
  .offer-item {
    width: 300px;
    height: 380px;
  }
}

.offer-item.spinning {
  animation: spinCardPropeller 0.7s linear;
}

@keyframes spinCardPropeller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.discount-label {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
  z-index: 10;
  background-color: rgb(255, 52, 52);
}

.offer-save-amount {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 2px 2px 3px black;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  opacity: 1;
}

.offer-save-amount .save-large {
  font-size: 20px;
  display: block;
}

.offer-save-amount .save-small {
  font-size: 12px;
  display: block;
}

.offer-save-amount.zoom-effect {
  transform: scale(1.3);
  opacity: 1;
  z-index: 20;
}


.offer-save-amount.low {
  background-color: rgb(255, 86, 184);
}

.offer-save-amount.medium {
  background-color: rgb(255, 189, 68);
}

.offer-save-amount.high {
  background-color: rgb(69, 190, 69);
}

.offer-image-wrapper {
  position: relative;
}

.offer-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.offer-weight-volume {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.offer-name {
  font-size: 16px;
  margin: 10px 0;
  color: var(--card-text);
}

.offer-manufacturer {
  font-size: 14px;
  margin: 5px 0;
}

.offer-original-price {
  font-size: 14px;
  margin: 5px 0;
  color: var(--card-text);
  text-decoration: line-through;
  opacity: 0.7;
}


.light-mode .offer-item {
  --card-bg: #ffffff;
  --card-text: #121212;
}

.dark-mode .offer-item {
  --card-bg: #1e1e1e;
  --card-text: #ffffff;
}
