/* Global styling */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.App {
  text-align: center;
  padding: 10px;
}

h1 {
  margin-bottom: 30px;
}

.offer-list {
  display: flex;
  flex-wrap: wrap; /* Tillåter att korten bryts till nya rader */
  justify-content: center; /* Centrerar korten horisontellt */
  gap: 16px; /* Mellanrum mellan korten */
}

/* Loader */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #ff5722;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Banner Styling */
.banner {
  background: var(--banner-bg);
  color: var(--banner-text);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.banner-logo {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  margin: 0;
  font-weight: 900; /* ExtraBold */
  color: var(--logo-color); /* Dynamisk färg */
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.logo-red {
  color: #ff0000; /* Röd text */
}

.banner-week {
  font-family: 'Roboto Slab', serif;
  color: var(--week-text);
  font-size: 1.5em;
  margin: 5px 0 0 0;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Light Mode */
.light-mode {
  --banner-bg: #ffffff;
  --banner-text: #121212;
  --logo-color: #000;
  --week-text: #000;
  background: linear-gradient(135deg, #f5f5f5, #ffffff);
  color: #121212;
}

/* Dark Mode */
.dark-mode {
  --banner-bg: #1e1e1e;
  --banner-text: #ffffff;
  --logo-color: #ffffff;
  --week-text: #ffffff;
  background: linear-gradient(135deg, #1e1e1e, #292929);
  color: #ffffff;
}


/* Theme Switch Styling */
.theme-switch {
  position: absolute;
  top: 15px; /* Justerat för att ge lite mer utrymme från toppen */
  right: 20px; /* Matchar resten av sidans marginal */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--theme-icon-color);
  transition: color 0.3s, transform 0.2s ease-in-out;
  padding: 8px; /* Lägger till padding för bättre klickbarhet */
  margin: 0; /* Inga oönskade margin för att hålla det snyggt */
}

.theme-switch:hover {
  transform: scale(1.1); /* Ger en liten förstoring vid hover */
}

.theme-switch:focus {
  outline: none;
}

.theme-icon {
  font-size: 1.8rem;
}

/* Light Mode */
.light-mode .theme-switch {
  --theme-icon-color: #f9d71c; /* Gul färg för solen */
}

/* Dark Mode */
.dark-mode .theme-switch {
  --theme-icon-color: #f5f5f5; /* Vit färg för månen */
}